/*Styling for index.html*/
/* Style the container for the boxes */
button {
  font-family: Syne;
  box-sizing: border-box;
  width: 329px;
  height: 66px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: lightgrey;
  border-radius: 28px;
  border: 2px solid #000;
}
header {
  text-align: center;
}

.box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.box input {
  padding-left: 10px;
}

.para {
  display: flex;
  line-height: 10px;
  padding: 10px;
}

.grace {
  display: flex;
  flex-direction: row;
}

.info {
  width: 40%;
  display: flex;
  flex-direction: column;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

/*Styling for cv.html*/

.profile {
  display: flex;
  flex-direction: row;

}

.profileContent {
  padding-left: 28px;
  justify-content: left;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
